.product-browser__card-grid {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    margin: 12px 0px;
}

@media screen and (min-width: 500px) {
    .product-browser__card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 700px) {
    .product-browser__card-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 900px) {
    .product-browser__card-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}