.fill {
    flex: 1 1 auto;
}

.stacked-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.stacked-layout > :nth-child(1), .stacked-layout > :last-child {
    flex-grow: 0;
}

.stacked-layout > * {
    flex-grow: 1;
}