<div>
    <mat-toolbar color="primary">
        <span>Fast Bytes</span>
    </mat-toolbar>
    <mat-horizontal-stepper linear="true">
        <mat-step label="Select">
            <app-product-browser></app-product-browser>
            <div class="buttonFooter">
                <span class="fill"></span>
                <button mat-raised-button matStepperNext color="accent" [disabled]="!isSelectionMade()">
                    <mat-icon>shopping_cart</mat-icon>
                    <span>{{ cartService.calculatePrice() | currency }}</span>
                </button>
            </div>
        </mat-step>
        <mat-step label="Review">
            <app-order-summary></app-order-summary>
        </mat-step>
        <mat-step label="Pay"></mat-step>
    </mat-horizontal-stepper>
</div>